{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">About</h2>
                <hr>
            </div>
        </div>
		<div class="row">
			<div class="col-md-8 col-xs-1">
				<p>
					Dungeons & Depictions provides high quality D&D character artwork in the form of A3 posters you can order from our existing works 
                    in our <a href="{% url 'commissions' %}?sort=category&direction=asc">showcase</a>.
                </p>
				<p>
					You can also have your very own character brought to life via our <a href="{% url 'request_commission' %}">commissions</a> page. Our in-house team of artists produce high 
                    quality commissions for very good value. You will receive the digital version within a week of purchasing and the A3 poster of 
                    it shortly after, postal times depending.
				</p>
				<p>
					Please note that images in the showcase are purposely at lower quality as an anti-theft initiative and the art 
                    shipped is printed from HD images.
				</p>
				<p>
					Founded in 2020, Dungeon & Depictions strives to combine our team's two greatest passions; D&Ds and art. Please check out our <a href="{% url 'blog' %}">blog</a> 
                    to find out what our team has been up to.
				</p>
				<p>
					Any questions for the team regarding orders, our art or inspirations, get in touch with us <a href="{% url 'contact' %}">here</a>.
				</p>
			</div>
			<div class="col-md-4 col-xs-1">
				<img class="card-img-top img-fluid" src="https://dungeons-and-depictions.s3-eu-west-1.amazonaws.com/media/about_page_img.jpg" alt="About page image">
			</div>
		</div>
	</div>
{% endblock %}


