{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Create a Commission</h2>
                <hr>
            </div>
        </div>
        <div class="row">
			<div class="col">
                <h4>Rules</h4>
				<ul>
					<li>You will recieve a digital copy of your character <strong>within a week</strong> of purchasing.</li>
					<li>The physical copy will be sent via post as soon as possible after.</li>
					<li>Only one character per commission.</li>
					<li>Plain backgrounds only.</li>
					<li>Nothing overly sexual or pornographic.</li>
					<li>No gratuitous amounts of gore.</li>
				</ul>
				<h4>Prices</h4>
				<ul>
					<li>$50 per commission</li>
					<li><strong>NOT</strong> including delivery fee of 15%</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
			    <h4>Description</h4>
			    <p>What makes your character unique? The more description you give us, the better.</p>
				<p>Think of things such as:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
                <ul>
                    <li>Race</li>
                    <li>Gender</li>
                    <li>Skin tone</li>
                    <li>Hair</li>
                </ul>
			</div>
			<div class="col-3">
				<ul>
					<li>Scars</li>
					<li>Weapons</li>
					<li>Favourite spell</li>
					<li>Armour</li>
				</ul>
			</div>
		</div>
        <div class="row">
            <div class="col-12 col-md-6">
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'request_commission' %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field | as_crispy_field }}
                        {% endfor %}
                        <div class="text-right">
                            <a class="btn btn-outline-black rounded-0" href="{% url 'commissions' %}?sort=category&direction=asc">Cancel</a>
                            <button class="btn btn-black rounded-0" type="submit">Create Commission</button>
                        </div>
                    </form>
                {% else %}
                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                    <a class="text-info" href="{% url 'account_login' %}">login</a> to be able to request a commission.
                {% endif %}
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}